{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Books" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}


{% block header %}
<div id="wrapper">

{% include "lesson_header.html" %}

{% endblock %}

{% block content %}

<div id="content">
    
    <h1>{% trans "Add a comment" %}</h1>

    <div class="grid-16-8 clearfix">
        <div class="article">
            <form action="/item_search" class="search-wrap">
            <input type="text" name="search_text" title={% trans "Title, Author" %} class="book-search j a_search_result greyinput" id="sinput">
            <input type="submit" value={% trans "Search" %} class="search-btn">

            </form>


    <div class="lesson_pop">
    <h2>
        {% trans "Add a comment" %} &nbsp; · · · · · · &nbsp;
    </h2>
    <form id="addbookform" name="addcomment" method="post" action="">
        <table align="center">
        {{ form.as_table }}
        <tr><td></td><td align="center"><input id="submit" type="submit" value={% trans "Add comment" %} /></td></tr>
        </table>
        


    </form>

    </div>
</div>

{% include "lesson_tags_aside.html" %}

        <div class="extra">
            
        </div>
    </div>
    </div>



{% endblock %}

{% block footer %}
{% include "book_footer.html" %}

</div>

{% endblock %}
