    <div class="aside">
        <h2>
            热门标签 &nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·
            <span class="pl">
                (
                <a href="/book/tag/?view=type">
                    所有热门标签
                </a>
                )
            </span>
        </h2>
        <ul class="hot-tags-col5">
            <li>
                <ul class="clearfix">
                    <li>
                        
                    </li>
                </ul>
            </li>
        </ul>
    </div>
