<div id="footer">
<!--  
    <ul class="col-4 clearfix">
        <li>
            <span class="blue-link">
                <a href="/book/" onclick="moreurl(this, {sitemap:'/book/'})">
                    读书
                </a>
            </span>
            &nbsp;-&nbsp;
            <a href="/book/review/best/" onclick="moreurl(this, {sitemap:'/book/review/best/'})">
                热评
            </a>
            &nbsp;-&nbsp;
            <a href="/book/chart" onclick="moreurl(this, {sitemap:'/book/chart'})">
                排行榜
            </a>
            &nbsp;-&nbsp;
            <a href="/book/browse" onclick="moreurl(this, {sitemap:'/book/browse'})">
                分类浏览
            </a>
        </li>
        <li>
            <span class="blue-link">
                <a href="/music/" onclick="moreurl(this, {sitemap:'/music/'})">
                    音乐
                </a>
            </span>
            &nbsp;-&nbsp;
            <a href="/artists/" onclick="moreurl(this, {sitemap:'/artists/'})">
                音乐人
            </a>
            &nbsp;-&nbsp;
            <a href="/music/review/best/" onclick="moreurl(this, {sitemap:'/music/review/best/'})">
                热评
            </a>
            &nbsp;-&nbsp;
            <a href="/music/chart" onclick="moreurl(this, {sitemap:'/music/chart'})">
                排行榜
            </a>
            &nbsp;-&nbsp;
            <a href="/music/tag/" onclick="moreurl(this, {sitemap:'/music/tag/'})">
                分类浏览
            </a>
        </li>
        <li>
            <span class="blue-link">
                <a href="/movie/" onclick="moreurl(this, {sitemap:'/movie/'})">
                    电影
                </a>
            </span>
            &nbsp;-&nbsp;
            <a href="/movie/review/best/" onclick="moreurl(this, {sitemap:'/movie/review/best/'})">
                热评
            </a>
            &nbsp;-&nbsp;
            <a href="/movie/chart" onclick="moreurl(this, {sitemap:'/movie/chart'})">
                排行榜
            </a>
            &nbsp;-&nbsp;
            <a href="/movie/tag/" onclick="moreurl(this, {sitemap:'/movie/tag/'})">
                分类浏览
            </a>
            &nbsp;-&nbsp;
            <a href="/movie/tv" onclick="moreurl(this, {sitemap:'/movie/tv'})">
                电视剧
            </a>
        </li>
        <li>
            <span class="blue-link">
                <a href="/event/" onclick="moreurl(this, {sitemap:'/event/'})">
                    同城
                </a>
            </span>
            &nbsp;-&nbsp;
            <a href="/hosts/" onclick="moreurl(this, {sitemap:'/hosts/'})">
                主办方
            </a>
            &nbsp;-&nbsp;
            <a href="/location/world/" onclick="moreurl(this, {sitemap:'/location/world/'})">
                其他城市
            </a>
            &nbsp;-&nbsp;
            <a href="/online/" onclick="moreurl(this, {sitemap:'/online/'})">
                线上活动
            </a>
        </li>
    </ul>
-->
    <span class="fleft gray-link" id="icp">
        &copy; 2005－2010 douban.com, all rights reserved
    </span>
    <span class="fright">
        <a href="/about">
            关于Learn@Fudan
        </a>
        ·
        <a href="/about?topic=contactus">
            联系我们
        </a>
        ·
        <a href="/about?policy=disclaimer">
            免责声明
        </a>
        ·
        <a href="/help/">
            帮助中心
        </a>
    </span>
<!--        ·
        <a href="/service/">
            Learn@Fudan服务(API)
        </a>
        ·
        <a href="/mobile/">
            手机Learn@Fudan
        </a>
        ·
        <a href="/partner/">
            品牌合作
        </a>
    
-->
</div>
