{% extends "base.html" %}

{% load i18n %}
{% block title %} {% trans "Welcome to Learn@Fudan" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}

{% block header %}
<div id="wrapper">

{% include "header.html" %}

{% endblock %}

{% block content %}
<div id="main" style="margin-top:150px">
<center><h1>{% trans "Welcome to Learn@Fudan" %}</h1>
    <div class="grid-16-8 clearfix">
	<h1><a href="/book/">{% trans "Book transfer application" %}</a></h2>
	<h1><a href="/lesson/">{% trans "Lessons review application" %}</a></h2>
    </div>
</center>
</div>
{% endblock content %}


{% block footer %}
{% include "footer.html" %}

</div>

{% endblock %}