{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Books" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}


{% block header %}
<div id="wrapper">

{% include "book_header.html" %}

{% endblock %}

{% block content %}

<div id="content">
    
    <h1>{% trans "Books" %}</h1>

    <div class="grid-16-8 clearfix">
        <div class="article">
            <form action="/book/item_search" class="search-wrap">
            <input type="text" name="search_text" title={% trans "Title, Author" %} class="book-search j a_search_result greyinput" id="sinput">
            <input type="submit" value={% trans "Search" %} class="search-btn">

            </form>


    <div class="book_pop">
    <h2>
    {% if is_searching %}
        <p>{{ message }}</p> &nbsp; · · · · · · &nbsp;
    {% else %}
        {% trans "Newly Added" %} &nbsp; · · · · · · &nbsp;
    {% endif %}
        <span class="pl">
            (&nbsp;<a href="add/">{% trans "Add a new one" %}</a>&nbsp;)
        </span>
        <span class="pl">
            (&nbsp;
            <a href="all/">
                {% trans "View All Books" %}
            </a>
            &nbsp;)
        </span>
    </h2>
    <ul class="entry-list-col2">

{% for pair in books%}

        <li>
            <ul class="clearfix">
    {% for e in pair %}
     <li class="clearfix">
        <a href="{{e.get_absolute_url}}">
        <img class="cover" alt="{{e.title}}" src="{{e.image_url}}">
        </a>
        <h2>
            <a href="{{e.get_absolute_url}}">{{e.title}}</a>
        </h2>
        <p class="entry-star-small clearfix">
            <span class="font-small color-red fleft">
            {% trans "Offer Price" %}:&nbsp; {{ e.offer_price }}
            </span>
            <br>
            {% if e.sold %}
                {% trans "Sold out" %}
            {% else %}
                {% trans "On sale" %}
            {% endif %}
            <br>
            <br>
            {% trans "Author" %}:&nbsp;
            {{e.author}}
            <br>
        </p>
        <div class="entry-list-col2-review color-gray">
            <p class="pt6">
                {{e.description|truncatewords:'100'}}
            </p>
        </div>
    </li>
    {% endfor %}

            </ul>
        </li>

{% endfor %}
    </ul>
    </div>
</div>

{% include "book_tags_aside.html" %}

        <div class="extra">
            
        </div>
    </div>
    </div>



{% endblock %}

{% block footer %}
{% include "book_footer.html" %}

</div>

{% endblock %}
