{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Books" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}


{% block header %}
<div id="wrapper">

{% include "book_header.html" %}

{% endblock %}

{% block content %}

<div id="content">
    
    <h1>{{ e.title }}</h1>

<div class="grid-16-8 clearfix">
    <div class="article">
        <div class="indent">
            <div class="subjectwrap clearfix">
                <div class="subject clearfix">
                    <div id="mainpic">
                        <a title="{{ e.title }}" href="{{ e.get_absolute_url }}">
                            <img alt="{{ e.title }}" src="{{e.image_url}}">
                        </a>
                        <br>
                    </div>
                    <div id="info">
                        <span>
                            <span class="pl">
                                {% trans "Author" %}
                            </span>
                            :
                            {{e.author}}
                        </span>
                        <br>
                        <div class="obmo">
                            <span class="pl">
                                {% trans "Publisher" %}:
                            </span>
                            {{ e.publisher }}
                            <br>
                            <span class="pl">
                                {% trans "Original Price" %}:
                            </span>
                            {{ e.orig_price }} &nbsp;{% trans "Yuan" %}
                            <br>
                            <span class="pl">
                                {% trans "Offer Price" %}:
                            </span>
                            <strong class="rating_num">
                                {{ e.offer_price }} &nbsp;{% trans "Yuan" %}
                            </strong>
                            <br>
                            <span class="pl">
                                {% trans "Sold" %}:
                            </span>
                            {{ e.sold }}
                            {% if authenticated %}
                                <span class="pl">
                                (&nbsp;<a href="mark_as_sold/">{% trans "Click here to mark it as sold" %}</a>&nbsp;)
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="interest_sectl">
                    <div class="rating_wrap clearbox">

                        <div class="obmo">
                            <span class="pl">
                                {% trans "Owner" %}:
                            </span>
                            {{ e.owner }}
                            <br>
                            <span class="pl">
                                {% trans "Location" %}:
                            </span>
                            {{ e.location }}
                            <br>
                            <span class="pl">
                                {% trans "Contact" %}:
                            </span>
                            {{ e.contact }}
                            <br>
                            <span class="pl">
                                {% trans "Post date" %}:
                            </span>
                            {{ e.post_date }}
                            <br>
                            <span class="pl">
                                {% trans "Valid before" %}:
                            </span>
                            {{ e.valid_date }}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" id="interest_sect_level">
                <ul class="fright ul_subject_menu bicelink color_gray pt6 clearfix">
                    <li>
                        &nbsp;
<!--
                        <a rel="nofollow" href="/subject/1675478/new_review">
                            写书评
                        </a>
-->
                    </li>

                </ul>
            </div>
        </div>
        <br clear="all">
        <div class="related_info">
            <h2>
                {% trans "Decsription" %} &nbsp; ·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;
            </h2>
            <div class="indent">
                {{ e.description }}
                <br>
            </div>
        </div>
    </div>


    
    <div class="aside">
        <h2>
            热门标签 &nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·
            <span class="pl">
                (
                <a href="/book/tag/?view=type">
                    所有热门标签
                </a>
                )
            </span>
        </h2>
        <ul class="hot-tags-col5">
            <li>
                <ul class="clearfix">
                    <li>
                        [文学]
                    </li>
                </ul>
            </li>
            <li>
                <ul class="clearfix">
                    <li>
                        [流行]
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="extra">
    </div>
</div>
</div>



{% endblock %}

{% block footer %}
{% include "book_footer.html" %}

</div>

{% endblock %}
