{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Books" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}


{% block header %}
<div id="wrapper">

{% include "book_header.html" %}

{% endblock %}

{% block content %}

<div id="content">
    
    <h1>{{ e.title }}</h1>

<div class="grid-16-8 clearfix">
    <div class="article">
        <div class="indent">
            <div class="subjectwrap clearfix">
                <div class="subject clearfix">
                    <div id="mainpic">
                        <a title="{{ e.title }}" href="{{ e.get_absolute_url }}">
                            <img alt={{ e.title }} src="/static/images/book-default-medium.gif">
                        </a>
                        <br>
                    </div>
                    <div id="info">
                        <span>
                            <span class="pl">
                                {% trans "Author" %}
                            </span>
                            :
                            {{e.author}}
                        </span>
                        <br>
                        <div class="obmo">
                            <span class="pl">
                                {% trans "Publisher" %}:
                            </span>
                            {{ e.publisher }}
                            <br>
                            <span class="pl">
                                {% trans "Original Price" %}:
                            </span>
                            {{ e.orig_price }} &nbsp;{% trans "Yuan" %}
                            <br>
                            <span class="pl">
                                {% trans "Offer Price" %}:
                            </span>
                            <strong class="rating_num">
                                {{ e.offer_price }} &nbsp;{% trans "Yuan" %}
                            </strong>                        </div>
                    </div>
                </div>
                <div id="interest_sectl">
                    <div class="rating_wrap clearbox">

                        <div class="obmo">
                            <span class="pl">
                                {% trans "Owner" %}:
                            </span>
                            {{ e.owner }}
                            <br>
                            <span class="pl">
                                {% trans "Location" %}:
                            </span>
                            {{ e.location }}
                            <br>
                            <span class="pl">
                                {% trans "Contact" %}:
                            </span>
                            {{ e.contact }}
                            <br>
                            <span class="pl">
                                {% trans "Post date" %}:
                            </span>
                            {{ e.post_date }}
                            <br>
                            <span class="pl">
                                {% trans "Valid before" %}:
                            </span>
                            {{ e.valid_date }}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" id="interest_sect_level">
                <ul class="fright ul_subject_menu bicelink color_gray pt6 clearfix">
                    <li>
                        &nbsp;
                        <a rel="nofollow" href="/subject/1675478/new_review">
                            写书评
                        </a>
                    </li>
                    <li>
                        &nbsp;
                        <a rel="nofollow" href="/people/pro711/doulists?add=1675478">
                            加入豆列
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br clear="all">
        <div class="related_info">
            <h2>
                {% trans "Decsription" %} &nbsp; ·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;
            </h2>
            <div class="indent">
                {{ e.description }}
                <br>
            </div>
        </div>
    </div>


    
    <div class="aside">
        <h2>
            热门标签 &nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·&nbsp; ·
            <span class="pl">
                (
                <a href="/book/tag/?view=type">
                    所有热门标签
                </a>
                )
            </span>
        </h2>
        <ul class="hot-tags-col5">
            <li>
                <ul class="clearfix">
                    <li>
                        [文学]
                    </li>
                    <li>
                        <a href="/book/tag/小说">
                            小说
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/散文">
                            散文
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/随笔">
                            随笔
                        </a>
                    </li>
                    <li class="last">
                        <a href="/book/tag/童话">
                            童话
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/日本文学">
                            日本文学
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/诗歌">
                            诗歌
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/名著">
                            名著
                        </a>
                    </li>
                    <li class="last">
                        <a href="/book/tag/港台">
                            港台
                        </a>
                    </li>
                    <li class="last">
                        <a href="/book/tag/?view=type#文学">
                            (更多)
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="clearfix">
                    <li>
                        [流行]
                    </li>
                    <li>
                        <a href="/book/tag/漫画">
                            漫画
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/绘本">
                            绘本
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/青春">
                            青春
                        </a>
                    </li>
                    <li class="last">
                        <a href="/book/tag/推理">
                            推理
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/武侠">
                            武侠
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/科幻">
                            科幻
                        </a>
                    </li>
                    <li>
                        <a href="/book/tag/奇幻">
                            奇幻
                        </a>
                    </li>
                    <li class="last">
                        <a href="/book/tag/言情">
                            言情
                        </a>
                    </li>
                    <li class="last">
                        <a href="/book/tag/?view=type#流行">
                            (更多)
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="extra">
    </div>
</div>
</div>



{% endblock %}

{% block footer %}
{% include "book_footer.html" %}

</div>

{% endblock %}
