{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Error:" %} {{ error_name }} {% trans "- Books" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}


{% block header %}
<div id="wrapper">

{% include "book_header.html" %}

{% endblock %}

{% block content %}

<div id="content">
    
    <h1>{{ detail }}</h1>

</div>



{% endblock %}

{% block footer %}
{% include "book_footer.html" %}

</div>

{% endblock %}
