{% extends "base.html" %}

{% load i18n %}
{% block title %} {% trans "Login" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}

{% block header %}
<div id="wrapper">

{% include "header.html" %}

{% endblock %}

{% block content %}
<h1>{% trans "Login" %}</h1>
<form action="{{ request.get_full_path }}" method="post">
  <table>{{ form }}</table>
  <input type="submit" value="{% trans "Login" %}" />
</form>
{% endblock content %}


{% block footer %}
{% include "footer.html" %}

</div>

{% endblock %}
