<div id="footer">

    <span class="fleft gray-link" id="icp">
        &copy; 2010 shamrock-fdume, all rights reserved
    </span>
    <span class="fright">
        <a href="/about">
            关于Learn@Fudan
        </a>
    </span>


<!--
    Google Analytics
-->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-15078794-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
<!--
    Google Analytics
-->

</div>
    <p>
        <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
        alt="Powered by Google App Engine" />
    </p>
