{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Lessons" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}


{% block header %}
<div id="wrapper">

{% include "lesson_header.html" %}

{% endblock %}

{% block content %}

<div id="content">
    <h1>
        {% trans "Lessons" %}
    </h1>
    <div class="grid-16-8 clearfix">
        <div class="article">
            <form action="/item_search" class="search-wrap">
                <input type="text" name="search_text" title={% trans "Title, Author" %}
                class="book-search j a_search_result greyinput" id="sinput">
                <input type="submit" value={% trans "Search" %} class="search-btn">
            </form>
            <div class="lesson_pop">
                <h2>
                    {% trans "Newly Added" %} &nbsp; · · · · · · &nbsp;
                    <span class="pl">
                        (&nbsp;
                        <a href="add/">
                            {% trans "Add a new lesson" %}
                        </a>
                        &nbsp;)
                    </span>
                </h2>
                <ul class="entry-list-col2">
                    {% for pair in lessons%}
                    <li>
                        <ul class="clearfix">
                            {% for e in pair %}
                            <li class="clearfix">
                                <a href="{{e.get_absolute_url}}">
                                    <img class="cover" alt="{{e.title}}" src="/static/images/book-default-medium.gif">
                                </a>
                                <h2>
                                    <a href="{{e.get_absolute_url}}">
                                        {{e.name}}
                                    </a>
                                </h2>
                                <p class="entry-star-small clearfix">
                                    {% trans "Instructor" %}:&nbsp; {{ e.instructor }}
                                    <br>
                                    {% trans "Tags" %}:&nbsp; {{ e.tags|join:', ' }}
                                    <br>
                                    {{ e.view_num }} &nbsp; {% trans "Views" %}
                                    <br>
                                </p>
                                <div class="entry-list-col2-review color-gray">
                                    <p class="pt6">
                                        {{e.description|truncatewords:30}}
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

{% include "lesson_tags_aside.html" %}
        <div class="extra">
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include "lesson_footer.html" %}

</div>

{% endblock %}
