{% load i18n %}
<div id="header">

<form id="ssform" name="ssform" method="get" action="/subject_search">

    <a href="http://shamrock-fdume.appspot.com/" title={% trans "Books" %}><img src="/static/images/logosmall.gif" alt="Learn@Fudan" class="logo"/></a>
    <div id="nav">
            <a  href="/"><span>{% trans "Main Page" %}</span></a>
            <a  class="now" href="/lesson/"><span>{% trans "Lessons" %}</span></a>
            <a  href="/book/"><span>{% trans "Books" %}</span></a>
    </div>
    

<div class="clear"></div>

<div id="status">
    <div id="subnav">

    </div>
    
    <span class="pl">
    {% if user.is_authenticated %}
        {% trans "Welcome, " %} {{ user.username }}!
        <a href="{% url django.contrib.auth.views.password_change %}">{% trans "Change password" %}</a>
        <a href="/settings/choose_lang/">{% trans "Choose language" %}</a>
        <a href="{% url django.contrib.auth.views.logout %}">
            {% trans "Logout" %}
        </a>
    {% else %}
        {% trans "Welcome, please" %}
        <a rel="nofollow" href="{% url django.contrib.auth.views.login %}">
            {% trans "Login" %}
        </a>
        {% trans "or" %}
        <a href="{% url registration.views.register %}">
            {% trans "Register" %}
        </a>
    {% endif %}
    </span>
    <div class="clear"></div>
</div>

</form>
</div>
