
<form id="ssform" name="ssform" method="get" action="/subject_search">
    
    
    <a href="http://www.douban.com" title="豆瓣"><img src="http://t.douban.com/pics/logosmall.gif" alt="douban" class="logo"/></a>
    <div id="nav">
            <a  href="/"><span>首页</span></a>
            <a  href="/mine/"><span>我的豆瓣</span></a>
            <a  href="/contacts/"><span>友邻</span></a>
            <a  href="/group/"><span>小组</span></a>
            <a class="now" href="/book/"><span>读书</span></a>
            <a  href="/movie/"><span>电影</span></a>
            <a  href="/music/"><span>音乐</span></a>
            <a  href="/event/"><span>同城</span></a>
        <a target="_blank" href="http://9.douban.com" class="nine_nav">九点</a>
    </div>
    

<div id="searbar">
    <span class="submit"><input class="butt" type="submit" value="搜索"/></span>
    <span><input class="j a_search_text" name="search_text" title="书籍、电影、音乐" type="text" size="22" maxlength="60" value="" id="page_focus"/></span>
</div>
<div class="clear"></div>

    <div id="status">
        <div id="subnav">
            
    <a href="/book/mine">我读</a> <a href="/book/cart">购书单<img src="http://t.douban.com/pics/new_menu.gif" style="margin-top:4px;*margin-top:2px;position:absolute;"></img></a> <a href="/book/recommended">豆瓣猜</a> <a href="/book/review/best/">书评</a> <a href="/book/chart">排行榜</a> <a href="/book/tag/">分类浏览</a> 

        </div>

        
            <a href="/doumail/">豆邮</a>
            <a href="/settings/">pro711的设置</a>
            

            <a href="/logout?ck=o1aM">退出</a>
        <div class="clear"></div>
    </div>

</form>
</div>
