{% load i18n %}
<div id="header">

<form id="ssform" name="ssform" method="get" action="/subject_search">

    <a href="http://www.douban.com" title={% trans "Books" %}><img src="http://t.douban.com/pics/logosmall.gif" alt="douban" class="logo"/></a>
    <div id="nav">
            <a  href="/"><span>{% trans "Main Page" %}</span></a>
            <a  href="/course/"><span>{% trans "Courses" %}</span></a>
            <a class="now" href="/book/"><span>{% trans "Books" %}</span></a>
    </div>
    

<!--
<div id="searbar">
    <span class="submit"><input class="butt" type="submit" value="搜索"/></span>
    <span><input class="j a_search_text" name="search_text" title="书籍、电影、音乐" type="text" size="22" maxlength="60" value="" id="page_focus"/></span>
</div>

-->
<div class="clear"></div>

<div id="status">
    <div id="subnav">
            
    <a href="/book/mine">我读</a>
    <a href="/book/chart">排行榜</a>
    <a href="/book/tag/">分类浏览</a> 
    </div>

    <a href="/settings/">{% trans "Settings" %}</a>
    <a href="/logout/">{% trans "Logout" %}</a>
    <div class="clear"></div>
</div>

</form>
</div>
