{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Books" %} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
{% endblock %}


{% block header %}
<div id="wrapper">

{% include "book_header.html" %}

{% endblock %}

{% block content %}

<div id="content">
    <h1>
        {% trans "Add a book from douban" %}
    </h1>
    <div class="grid-16-8 clearfix">
        <div class="article">
            {% ifequal step 1 %}
            <div class="book_pop">
                <h2>
                    {% trans "Enter book title or author to search" %} &nbsp; · · · · · ·
                    &nbsp;
                </h2>
                <form id="addbookform" class="search-wrap" name="addBookFromDouban" method="post"
                action="">
                    <table align="center">
                        {{ form.as_table }}
                        <tr>
                            <td>
                            </td>
                            <td align="center">
                                <input id="submit" type="submit" value={% trans "Search" %} />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            {% endifequal %} {% ifequal step 2 %} {% for book in books %}
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="100" valign="top">
                            <a title="{{ book.title }}" href="{{ book.link }}" class="nbg">
                                <img alt="{{ book.title }}" src="{{ book.image_url }}">
                            </a>
                        </td>
                        <td valign="top">
                            <div class="pl2">
                                <a href="{{ book.link }}">
                                    {{ book.title }}
                                </a>
                            </div>
                            <p class="pl">
                                {{ book.author }} / {{ book.title }} / {{ book.publisher }} / {{ book.price
                                }}
                            </p>
                            <p class="pl">
                                {{ book.summary }}
                            </p>
                            <p>
                                <form name="addBook" method="post" action="{% url apps.book.views.book_add %}">
                                    <table class="hidden" align="center">
                                        <tr>
                                            <td>
                                                <input type="text" name="title" id="id_title" value="{{ book.title }}"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="author" id="id_author" value="{{ book.author }}"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="publisher" id="id_publisher" value="{{ book.publisher }}"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea id="id_description" rows="10" cols="40" name="description">
                                                </textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="orig_price" id="id_orig_price" value="{{ book.price }}"
                                                />
                                            </td>
                                        </tr>
                                    </table>
                                    <p align="center">
                                        <input id="submit" type="submit" value="{% trans " Select " %}" />
                                    </p>
                                </form>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="ul">
            </p>
            {% endfor %} {% endifequal %}
        </div>
    </div>
</div>



{% endblock %}

{% block footer %}
{% include "book_footer.html" %}

</div>

{% endblock %}
